<div class="container__background1">
    <!-- <img src="./assets/img/NENSANPHAM.jpg" alt="" class="container__background-img1"> -->
    <div class="container__background1-header">Đăng Nhập</div>
    <div class="container__background1-content">Trang chủ >> Đăng nhập</div>
</div>
<div class="login">
    <div class="grid wide">
        <div class="row">
            <div class="col l-12 m-12 c-12">
                <form class="login__box" [formGroup]="signinForm" (ngSubmit)="submitData()">
                    <div class=" login__header ">
                        <h3 class="login__name ">Đăng nhập</h3>
                        <p class="login__content ">Đăng kí để có thể sử dụng các tiện ích khác</p>
                    </div>
                    <div class="login__form ">
                        <input class="login__form-input " type="text " formControlName="email" placeholder="Địa chỉ email ">
                        <div *ngIf="email.invalid && (email.touched)||email.dirty">
                            <span class="errors" style="color: red;" *ngIf="email.errors?.required">Bạn chưa nhập email</span>
                            <span class="errors" style="color: red;" *ngIf="email.errors?.email">Vui lòng nhập đúng email</span>
                        </div>
                        <input class="login__form-input " type="password " formControlName="password" placeholder="Mật khẩu ">
                        <div *ngIf="password.invalid && (password.touched)||password.dirty">
                            <span class="errors" style="color: red;" *ngIf="password.errors?.required">Bạn chưa nhập mật khẩu</span>
                        </div>
                    </div>
                    <div class="login__selection ">
                        <button class="login__selection-btn ">Đăng nhập</button>
                        <a href=" " class="login__selection-link ">Đăng kí</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>