<div class="container__background1">
    <!-- <img src="./assets/img/NENSANPHAM.jpg" alt="" class="container__background-img1"> -->
    <div class="container__background1-header">Liên Hệ</div>
    <div class="container__background1-content">Trang chủ >> Liên hệ</div>
</div>
<div class="contact">
    <div class="grid wide">
        <div class="contact_top">
            <div class="contact_top-header">Hãy liên lạc với chúng tôi</div>
            <div class="contact_top-content">Bạn đang băn khoăn không biến nên tìm món quà nào hoàn hảo cho những người thân yêu của mình? Hãy thử ghé thăm cửa hàng của chúng tôi. Bạn cũng có thể liên hệ với chúng tôi để trở thành đối tác hoặc nhà phân phối. Gọi cho chúng tôi, gửi email
                cho chúng tôi hoặc đặt lịch hẹn ngay bây giờ.</div>
        </div>
        <div class="contact__location">
            <div class="row">
                <div class="col l-4 m-4 c-12">
                    <div class="contact__location-box">
                        <div class="contact__location-name">
                            <div class="row">
                                <div class="col l-2 m-2 c-2">
                                </div>
                                <div class="col l-10 m-10 c-10">
                                    Địa Chỉ
                                </div>
                            </div>
                        </div>
                        <div class="contact__location-item">
                            <div class="row">
                                <div class="col l-2 m-2 c-2">
                                    <div class="contact__location-item-icon"><i class="fas fa-map-marker-alt"></i></div>
                                </div>
                                <div class="col l-10 m-10 c-10">
                                    <div class="contact__location-item-content">297 Quang Trung F10 Gò Vấp HCM</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col l-4 m-4 c-12">
                    <div class="contact__location-box">
                        <div class="contact__location-name">
                            <div class="row">
                                <div class="col l-2 m-2 c-2">
                                </div>
                                <div class="col l-10 m-10 c-10">
                                    Liên hệ
                                </div>
                            </div>
                        </div>
                        <div class="contact__location-item">
                            <div class="contact__location-item-box">
                                <div class="row">
                                    <div class="col l-2 m-2 c-2">
                                        <div class="contact__location-item-icon">
                                            <i class="fas fa-phone-alt"></i>
                                        </div>
                                    </div>
                                    <div class="col l-10 m-10 c-10">
                                        <div class="contact__location-item-content">
                                            Di động: 0765565933
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="contact__location-item-box">
                                <div class="row">
                                    <div class="col l-2 m-2 c-2">
                                    </div>
                                    <div class="col l-10 m-10 c-10">
                                        <div class="contact__location-item-content">
                                            Hotline:0123456789
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="contact__location-item-box">
                                <div class="row">
                                    <div class="col l-2 m-2 c-2">
                                        <div class="contact__location-item-icon">
                                            <i class="fas fa-envelope"></i>
                                        </div>
                                    </div>
                                    <div class="col l-10 m-10 c-10">
                                        <div class="contact__location-item-content">
                                            Mail: alicia123@gmail.com
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col l-4 m-4 c-12">
                    <div class="contact__location-box">
                        <div class="contact__location-name">
                            <div class="row">
                                <div class="col l-2 m-2 c-2">
                                </div>
                                <div class="col l-10 m-10 c-10">
                                    Giờ mở cửa
                                </div>
                            </div>
                        </div>
                        <div class="contact__location-item">
                            <div class="contact__location-item-box">
                                <div class="row">
                                    <div class="col l-2 m-2 c-2">
                                        <div class="contact__location-item-icon">
                                            <i class="fas fa-clock"></i>
                                        </div>
                                    </div>
                                    <div class="col l-10 m-10 c-10">
                                        <div class="contact__location-item-content">
                                            Thứ 2 - Thứ 6: 09:00 -21:00
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="contact__location-item-box">
                                <div class="row">
                                    <div class="col l-2 m-2 c-2">
                                        <div class="contact__location-item-icon">
                                        </div>
                                    </div>
                                    <div class="col l-10 m-10 c-10">
                                        <div class="contact__location-item-content">
                                            Thứ 7 - Chủ nhật: 10:00 -21:00
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact__map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.7675094741953!2d106.66996041411684!3d10.829095861182095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529016140700b%3A0x49975cd429b12a3f!2zMjk3IFF1YW5nIFRydW5nLCBQaMaw4budbmcgMTAsIEfDsiBW4bqlcCwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1628914262941!5m2!1svi!2s"
                    style="border:0;display:flex; width:100%;height: 450px; padding: 50px;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
</div>