<div class="container__background1">
    <!-- <img src="./assets/img/NENSANPHAM.jpg" alt="" class="container__background-img1"> -->
    <div class="container__background1-header">Giới Thiệu</div>
    <div class="container__background1-content">Trang chủ >> Giới thiệu</div>
</div>
<div class="about">
    <div class="grid wide">
        <div class="about_top">
            <div class="row">
                <div class="col l-5 m-5 c-12">
                    <div class="about_header">
                        <h4 class="about_header-name">ALICIA</h4>
                        <h3 class="about_header-content">TRAO YÊU THƯƠNG VÀ HẠNH PHÚC</h3>
                        <p class="about_header-tell">Hạnh phúc đôi khi không chỉ là những thứ lớn lao mà chỉ đơn giản là những thứ nhở bé quanh ta, và hãy để chúng tôi có thể giúp bạn bước tiếp trên hành trình tìm kiếm sự hạnh phúc của chính mình</p>
                    </div>
                </div>
                <div class="col l-7 m-7 c-12">
                    <img src="./assets/img/about.jpg" alt="" class="about_header-img">
                </div>
            </div>

        </div>
        <div class="about_policy">
            <div class="row">
                <div class="col l-4 m-4 c-12">
                    <div class="about_policy-box">
                        <h4 class="about_policy-name">Miễn phí vận chuyển</h4>
                        <p class="about_policy-content">Sau khi nhận được đơn đặt hàng của bạn, chúng tôi sẽ chuyển sản phẩm của bạn trong vòng 3-5 ngày làm việc.</p>
                    </div>
                </div>
                <div class="col l-4 m-4 c-12">
                    <div class="about_policy-box">
                        <h4 class="about_policy-name">Trả hàng miễn phí</h4>
                        <p class="about_policy-content">Chúng tôi chấp nhận đổi trả hàng mới mua trong vòng từ 5 đến 7 ngày kể từ ngày thanh toán với các sản phẩm.</p>
                    </div>
                </div>
                <div class="col l-4 m-4 c-12">
                    <div class="about_policy-box">
                        <h4 class="about_policy-name">Gói miễn phí</h4>
                        <p class="about_policy-content">Theo yêu cầu, các mặt hàng mua làm quà tặng từ cửa hàng của chúng tôi có thể nhận được dịch vụ gói hàng miễn phí.</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="about_video">
            <div class="about_video-header">
                <table>
                    <tr>
                        <td class="about_video-line">&nbsp;</td>
                        <td class="about_video-content" rowspan="2 ">Lấp lánh đến từng chi tiết</td>
                        <td class="about_video-line">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </div>
            <!-- new -->
            <div class="video ">
                <img src="./assets/img/DÂY-CHUYỀN-CHỮ-X-CỰC.gif " class="video__img " alt=" ">
            </div>
        </div>
        <div class="about_follow ">
            <div class="grid wide">
                <p class="about_follow-header ">Theo dõi chúng tôi qua Instagram</p>
                <p class="about_follow-content ">@alicia_shop</p>
                <div class="row">
                    <div class="col l-2 m-4 c-6">
                        <div class="about_follow-box">
                            <div class="about_follow-picture">
                                <img src="/assets/img/ABOUT1.jpg" class="about_follow-picture-img" alt="">
                            </div>
                            <div class="about_follow-social">
                                <a href="" class="about_follow-social-link"><i class=" about_follow-social-icon fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col l-2 m-4 c-6">
                        <div class="about_follow-box">
                            <div class="about_follow-picture">
                                <img src="/assets/img/ABOUT2.jpg" class="about_follow-picture-img" alt="">
                            </div>
                            <div class="about_follow-social">
                                <a href="" class="about_follow-social-link"><i class=" about_follow-social-icon fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col l-2 m-4 c-6">
                        <div class="about_follow-box">
                            <div class="about_follow-picture">
                                <img src="/assets/img/ABOUT3.jpg" class="about_follow-picture-img" alt="">
                            </div>
                            <div class="about_follow-social">
                                <a href="" class="about_follow-social-link"><i class=" about_follow-social-icon fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col l-2 m-4 c-6">
                        <div class="about_follow-box">
                            <div class="about_follow-picture">
                                <img src="/assets/img/ABOUT4.jpg" class="about_follow-picture-img" alt="">
                            </div>
                            <div class="about_follow-social">
                                <a href="" class="about_follow-social-link"><i class=" about_follow-social-icon fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col l-2 m-4 c-6">
                        <div class="about_follow-box">
                            <div class="about_follow-picture">
                                <img src="/assets/img/ABOUT5.jpg" class="about_follow-picture-img" alt="">
                            </div>
                            <div class="about_follow-social">
                                <a href="" class="about_follow-social-link"><i class=" about_follow-social-icon fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col l-2 m-4 c-6">
                        <div class="about_follow-box">
                            <div class="about_follow-picture">
                                <img src="/assets/img/ABOUT6.jpg" class="about_follow-picture-img" alt="">
                            </div>
                            <div class="about_follow-social">
                                <a href="" class="about_follow-social-link"><i class=" about_follow-social-icon fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>