<footer class=" footer ">
    <div class="grid wide ">
        <div class="row ">
            <div class="col l-6 m-6 c-12 ">
                <img src="./assets/img/LOGO1.png " alt=" " class="footer__logo-img ">
                <p class="footer__logo-content ">Với chúng tôi, mỗi một con người hay một câu chuyện nhỏ cũng ẩn chứa những vẻ đẹp khác nhau, và chúng tôi ở đây để giúp bạn tìm thấy được vẻ đẹp đó thông qua những chi tiết nhỏ nhất</p>
            </div>
            <div class="col l-2 m-2 c-12 ">
                <h3 class="footer__heading ">Giới thiệu</h3>
                <ul class="footer__list ">
                    <li class="footer-item ">
                        <a href=" " class="footer-item__link ">Về chúng tôi</a>
                    </li>
                    <li class="footer-item ">
                        <a href=" " class="footer-item__link ">Cửa hàng</a>
                    </li>
                    <li class="footer-item ">
                        <a href=" " class="footer-item__link ">Liên hệ</a>
                    </li>
                </ul>
            </div>
            <div class="col l-2 m-2 c-12 ">
                <h3 class="footer__heading ">Theo dõi chúng tôi</h3>
                <ul class="footer__list ">
                    <li class="footer-item ">
                        <a href=" " class="footer-item__link ">Trung tâm trợ giúp</a>
                    </li>
                    <li class="footer-item ">
                        <a href=" " class="footer-item__link ">Mall</a>
                    </li>
                    <li class="footer-item ">
                        <a href=" " class="footer-item__link ">Hướng dẫn mua hàng</a>
                    </li>
                </ul>
            </div>
            <div class="col l-2 m-2 c-12 ">
                <h3 class="footer__heading ">Vào cửa hàng</h3>
                <ul class="footer__list ">
                    <li class="footer-item ">
                        <a href=" " class="footer-item__link ">
                            <i class="footer-item__icon fab fa-facebook "></i> Facebook
                        </a>
                    </li>
                    <li class="footer-item ">
                        <a href=" " class="footer-item__link ">
                            <i class="footer-item__icon fab fa-instagram "></i>Instagram
                        </a>
                    </li>
                    <!-- <li class="footer-item ">
                        <a href=" " class="footer-item__link ">
                            <i class="footer-item__icon fab fa-facebook "></i>linkking
                        </a>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
    <div class="footer__bottom ">
        <div class="grid wide ">
            <p class="footer__bottom--text">Đươc thiết kế bởi</p>
        </div>
    </div>
</footer>